*.swp
*.sample
/lib
/*.php
/app/etc/modules/*.xml
/app/etc
/app/design/adminhtml/default/default/template
/app/design/adminhtml/default/default/layout
/.htaccess*
/*.txt
/*.html
/js/*
/app/code/community
/app/code/core
/app/design/adminhtml/default
/var/cache
/var/locks
/var/package
/var/session
/tmp
/var/report
