*.swp
*.sample
/lib
/*.php
/app/etc/modules/*.xml
/app/etc
/app/design/adminhtml/default/default/template
/app/design/adminhtml/default/default/layout
/.htaccess*
/*.txt
/*.html
/js/*
/app/code/community
/app/code/core
/app/design/adminhtml/default
/var/cache
/var/locks
/var/package
/var/session
/tmp
/var/report
/skin/frontend/default
/skin/frontend/rwd
/app/design/frontend/rwd
/app/*.php
/app/design/frontend/base
/app/locale
/dev
/downloader
/shell
/skin/frontend/base
/var/*
